In [ ]:
!pip install oracledb
!pip install line_profiler
!pip install memory_profiler

In [5]:
%load_ext memory_profiler
%load_ext line_profiler

%reload_ext memory_profiler
%reload_ext line_profiler

In [ ]:
import oracledb
host = '127.0.0.1'
port = '1521'
sname = 'orclpdb1'

username = 'admin'
password = 'password'

dsn = f"(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST={host})(PORT={port}))(CONNECT_DATA=(SERVICE_NAME={sname})))"

# Establish the connection
try:
    connection = oracledb.connect(user=username, password=password, dsn=dsn)
    cursor = connection.cursor()
    print("Connection successful!")
except oracledb.DatabaseError as e:
    print("There was an error connecting to the database:", e)

# SQL Queries
> Once the above cells have been run i.e:
*   Open the Oracle Database Connection Section
*   Run the Oracle Table Creation Queries Section
*   Run the Players Info Creation Cells Section
*   Run the Tournaments Info Cells Section
*   Run the Parse Analysis and Import Process Section

Proceed with running the SQL Queries if needed. However, the queries and estimates have been conducted with tables and charts showing the results.

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

def retrieveQueries(query):
    connection.execute(query)
    result = connection.fetchall()
    return result

#### Group players with a similar style of play together.

In [ ]:
q ='''
SELECT distinct b.PID,
    CASE
        WHEN FoldCount >= CallCount AND FoldCount >= RaiseCount AND FoldCount >= newAllinCount THEN 'Passive'
        WHEN CallCount >= FoldCount AND CallCount >= RaiseCount AND CallCount >= newAllinCount THEN 'Conservative'
        WHEN RaiseCount >= newAllinCount AND RaiseCount >= CallCount AND RaiseCount >= FoldCount THEN 'Assertive'
        WHEN newAllinCount >= RaiseCount AND newAllinCount >= CallCount AND newAllinCount >= FoldCount THEN 'Aggressive' -- Default to Aggressive if no other style dominates
    END AS PlayerStyle
FROM (
select a.*, (5*AllinCount) as newAllinCount
    FROM (
    SELECT PID,
       SUM(CASE WHEN ACT = 'FOLD' THEN 1 ELSE 0 END) AS FoldCount,
       SUM(CASE WHEN ACT = 'CALL' THEN 1 ELSE 0 END) AS CallCount,
       SUM(CASE WHEN ACT = 'CHECK' THEN 1 ELSE 0 END) AS CheckCount,
       SUM(CASE WHEN ACT = 'RAISE' THEN 1 ELSE 0 END) AS RaiseCount,
       SUM(CASE WHEN AllIn = 1 THEN 1 ELSE 0 END) AS AllinCount
    FROM CARDS C
    INNER JOIN HANDPLAYERS HP ON C.HPID = HP.HPID group by PID
    )a
        )b

order by PID
'''

#query execution timing
%lprun -f retrieveQueries players_Style = retrieveQueries(q)

In [ ]:
style_Types =["Passive", "Conservative", "Assertive", "Aggressive"]
pCount = 0
cCount = 0
asCount =0
agCount =0

for x in players_Style:
    if x[1] == "Passive":
        pCount += 1
    elif x[1] == "Conservative":
        cCount+=1
    elif x[1] == "Assertive":
        asCount+=1
    elif x[1] == "Aggressive":
        agCount+=1

style_Count = [pCount,cCount,asCount,agCount]
plt.xlabel('Players Style')
plt.ylabel('Count')
plt.title('Players Group by Style')
plt.bar(style_Types, style_Count)
plt.show()

#### How often do players win in a particular position?

In [ ]:
q = '''
SELECT hp.pos, COUNT(*) AS WinsFromPosition
FROM HANDWINNERS HW INNER JOIN HANDPLAYERS HP ON HW.HPID = HP.HPID
    INNER JOIN (
    SELECT * FROM (
        SELECT HandID, MAX(POS) AS MaxPosInHand
            FROM HANDPLAYERS
            GROUP BY HandID
    ) mp WHERE MaxPosInHand >= 5 ) a on a.handid = hp.handid
GROUP BY HP.POS
order by hp.pos
'''
#query execution timing
%lprun -f retrieveQueries positon_wins = retrieveQueries(q)

In [ ]:
x=[]
y=[]
total=0

for p in positon_wins:
    if p[0]==1:
        x.append("smallblind")
    elif p[0] ==2:
        x.append("bigblind")
    elif p[0]==8:
        x.append("dealer")
    else:
        x.append(str(p[0]))

    y.append(p[1]/1000)
    
plt.figure(figsize=(10,5))
plt.xlabel('Playing Positions')
plt.ylabel('Count (scaled) /1000')
plt.title('Players Win by Position')
plt.bar(x, y)
plt.show()

#### Top 10 largest pots and the winning cards

In [ ]:
q = '''
SELECT
    a.tid, a.TName, a.TLoc, a.TDate,
    a.totalpot,
    b.pid,b.pname, b.pot,
    (b.pot / a.totalpot)*100 AS "%Share",
    b.pos AS "TablePos",
    c1.handrank
FROM
    (SELECT DISTINCT
         h.*, t.tid, t.TName, t.TLoc, t.TDate, r.roundnum, g.gamenum
     FROM
         hands h
         INNER JOIN games g ON g.gameid = h.gameid
         INNER JOIN rounds r ON g.roundid = r.roundid
         INNER JOIN tournaments t ON t.tid = r.tid
     ORDER BY h.totalpot DESC
     FETCH FIRST 10 ROWS ONLY
    ) a
INNER JOIN (
    SELECT DISTINCT
        hw.hpid, hw.pot, hp.pid, hp.handid, hp.pos, p.pname
    FROM
        handwinners hw
        INNER JOIN handplayers hp ON hw.hpid = hp.hpid inner join players p on hp.pid = p.pid
)  b ON a.handid = b.handid
INNER JOIN (
    SELECT
        c.*,
        ROW_NUMBER() OVER (PARTITION BY HPID ORDER BY CID DESC) AS row_num
    FROM
        cards c
) c1 ON b.hpid = c1.hpid
WHERE
    c1.row_num = 1
ORDER BY
    a.totalpot DESC
'''

#query execution timing
%lprun -f retrieveQueries largest_pots = retrieveQueries(q)

In [ ]:
tou=[]
payout=[]
player=[]
wincard=[]
tablepos=[]

for x in largest_pots:
    tou.append(x[1])
    payout.append(x[4])
    player.append(x[6])
    wincard.append(x[10])
    tablepos.append(x[9])

dict = {'Tournament': tou, 'Payout': payout, 'Winner': player, 'WinTablePos': tablepos,'Winning Card': wincard}
df = pd.DataFrame(dict)
df1 = df.style.set_properties(**{'text-align': 'center'}).set_caption('<h2 style="font-weight: bold;">Top 10 Pot and Winning Card</h2>')
display(df1)

#### Top 9 winning card combinations by percent used

In [ ]:
q='''
SELECT HANDRANK,
       ROUND((COUNT(*) / (SELECT COUNT(*) FROM CARDS INNER JOIN HANDWINNERS ON CARDS.HPID = HANDWINNERS.HPID)) * 100, 2) AS PercentageUsed
FROM CARDS
INNER JOIN HANDWINNERS ON CARDS.HPID = HANDWINNERS.HPID
GROUP BY HANDRANK
ORDER BY COUNT(*) DESC
FETCH FIRST 9 ROWS ONLY
'''
#query execution timing
%lprun -f retrieveQueries winning_card_combo = retrieveQueries(q)

In [ ]:
x=[]
y=[]
total=0

for p in winning_card_combo:
    x.append(p[0])
    y.append(p[1])

print(x)
print(y)

# plt.figure(figsize=(8,6))
plt.title('Top 9 Winning Card Combinations by % Used')
plt.pie(y, labels = x, autopct='%0.001f%%')
plt.show()
plt.tight_layout()

#### All players who played in the Dec 25, 2023 Tournament

In [ ]:
q = '''
SELECT distinct t.tname, p.pname as Names
FROM
    tournaments t inner join rounds r on t.tid = r.tid
    inner join games g on g.roundid = r.roundid
    inner join hands h on h.gameid = g.gameid
    inner join handplayers hp on hp.handid = h.handid
    inner join players p on p.pid = hp.pid
WHERE t.tdate = TO_DATE('12-25-2023', 'mm-dd-yyyy')
ORDER BY PName
FETCH FIRST 10 ROWS ONLY
'''
#query execution timing
%lprun -f retrieveQueries players_in2023 = retrieveQueries(q)

In [ ]:
players=[]
tour = []
for x in players_in2023:
    tour.append(x[0])
    players.append(x[1])

dict = {'Tournament':tour,'Players': players}
df = pd.DataFrame(dict)
df1 = df.style.set_properties(**{'text-align': 'center'}).set_caption('<h2 style="font-weight: bold;">Players in Dec 25th 2023 Tournament (First 10)</h2>')
display(df1)

#### Average Hands per Game (overall)

In [ ]:
q = '''
SELECT AVG(NumOfHands) AS AverageHandsPerGame
FROM (
    SELECT COUNT(*) AS NumOfHands
    FROM HANDS
    INNER JOIN GAMES ON HANDS.GameID = GAMES.GameID
    INNER JOIN ROUNDS ON GAMES.RoundID = ROUNDS.RoundID
    INNER JOIN TOURNAMENTS ON ROUNDS.TID = TOURNAMENTS.TID
    GROUP BY GAMES.GameID, TOURNAMENTS.TID
)
'''
#query execution timing
%lprun -f retrieveQueries avg_hands = retrieveQueries(q)

In [ ]:
for x in avg_hands:
    print("Average Hands Per Game: ", format(x[0]/100, "0.01%"))

#### Average Hands per Game per Tournaments

In [ ]:
q = '''
SELECT tname, AVG(NumOfHands) AS AverageHandsPerGame
FROM (
    SELECT t.tname,g.gameid,COUNT(*) AS NumOfHands
    FROM HANDS h
    INNER JOIN GAMES g ON h.GameID = g.GameID
    INNER JOIN ROUNDS r ON g.RoundID = r.RoundID
    INNER JOIN TOURNAMENTS t ON r.TID = t.TID
    GROUP BY g.GameID, t.tname
    order by g.gameid
)
group by tname
'''
#query execution timing
%lprun -f retrieveQueries avg_hands_perTourn = retrieveQueries(q)

In [ ]:
tou=[]
avghand=[]

for x in avg_hands_perTourn:
    tou.append(x[0])
    avghand.append(format(x[1]/100, "0.01%"))

result = {'Tournament': tou, 'Avg Hand per Game': avghand}
df = pd.DataFrame(result)
df1 = df.style.set_properties(**{'text-align': 'center'}).set_caption('<h2 style="font-weight: bold;">Avg Hands per Game per Tournament</h2>')
display(df1)

In [ ]:
x=[]
y=[]

for p in avg_hands_perTourn:
    x.append(p[0])
    y.append(p[1])

plt.title('Avg Hands per Game per Tournament')
plt.pie(y, labels = x, autopct='%0.001f%%')
plt.show()

#### What player(s) won the longest game(s) (the most hands)?

In [ ]:
q='''
SELECT HP.PID,PNAME, COUNT(*) AS NumOfWins
FROM HANDWINNERS HW INNER JOIN HANDPLAYERS HP ON HW.HPID = HP.HPID INNER JOIN PLAYERS P ON P.PID = HP.PID
GROUP BY HP.PID,PNAME
ORDER BY NumOfWins DESC
FETCH FIRST 10 ROWS ONLY
'''
#query execution timing
%lprun -f retrieveQueries most_hands = retrieveQueries(q)

In [ ]:
player=[]
numwins=[]


for x in most_hands:
    player.append(x[1])
    numwins.append(x[2])

result = {'Player': player, 'NumOfWins': numwins}
df = pd.DataFrame(result)
df1 = df.style.set_properties(**{'text-align': 'center'}).set_caption('<h2 style="font-weight: bold;">Top 10 Players Who Won the Most hands</h2>')
display(df1)

#### Player who won the most money in 2023

In [ ]:
q = '''
Select distinct mp.tid,mp.tname, p.pname,  tw.payout
FROM PLAYERs p inner join tournamentswinners tw on tw.pid = p.pid inner join(
    SELECT DISTINCT t.TID, t.TNAME, MAX(tw.payout)as MaxPayout
    FROM tournaments t inner join tournamentswinners tw on t.tid = tw.tid
    WHERE EXTRACT(YEAR FROM t.tdate) = 2023
    GROUP BY t.TID, t.TNAME
    ORDER BY T.TID
)  mp on mp.tid = tw.tid
where mp.MaxPayout = tw.payout
order by mp.tid

'''
#query execution timing
%lprun -f retrieveQueries most_money = retrieveQueries(q)

In [ ]:
tourn=[]
player=[]
payout=[]

for x in most_money:
    tourn.append(x[1])
    player.append(x[2])
    payout.append(x[3])

result = {'Tournament': tourn, 'Player': player, 'Payout': payout}
df = pd.DataFrame(result)
df1 = df.style.set_properties(**{'text-align': 'center'}).set_caption('<h2 style="font-weight: bold;">Players Who Won the Most Money in 2023</h2>')
display(df1)

#### Top 10 players who made the most “Final Tables” in a tournament?

In [ ]:
q = '''
SELECT p.pname, COUNT(*) AS CountFinalTable
FROM tournaments t
INNER JOIN rounds r ON t.tid = r.tid
INNER JOIN games g ON r.roundid = g.roundid
INNER JOIN hands h ON g.gameid = h.gameid
INNER JOIN handplayers hp ON h.handid = hp.handid
INNER JOIN players p on hp.pid = p.pid
INNER JOIN (
    SELECT tid, MAX(roundnum) AS MaxRound
    FROM rounds
    GROUP BY tid
) mRN ON t.tid = mRN.tid
WHERE r.roundnum = mRN.MaxRound
GROUP BY p.pname
order by CountFinalTable desc
FETCH FIRST 10 ROWS ONLY
'''
#query execution timing
%lprun -f retrieveQueries final_table = retrieveQueries(q)

In [ ]:
player=[]
count=[]

for x in final_table:
    player.append(x[0])
    count.append(x[1])

result = {'Player': player, 'Total Final Tables Reached': count }
df = pd.DataFrame(result)
df1 = df.style.set_properties(**{'text-align': 'center'}).set_caption('<h2 style="font-weight: bold;">Top 10 Players Making the Final Table</h2>')
display(df1)

#### Identify the combinations/cards that win the most. Per player?

In [ ]:
q='''
SELECT a.pid,
       a.pname,
       a.handrank,
       a.RankCount
FROM (
    SELECT
        p.pid,
        p.pname,
        c.handrank,
        COUNT(*) AS RankCount,
        ROW_NUMBER() OVER(PARTITION BY p.pid ORDER BY COUNT(*) DESC) AS RN
    FROM
        cards c
    INNER JOIN
        handplayers hp ON c.hpid = hp.hpid
    INNER JOIN
        players p ON hp.pid = p.pid
    INNER JOIN
        handwinners hw ON hp.hpid = hw.hpid
    GROUP BY
        p.pid,
        p.pname,
        c.handrank
) a
WHERE a.RN = 1
order by a.rankcount desc
fetch first 10 rows only

'''
#query execution timing
%lprun -f retrieveQueries combocards_wins_byplayers = retrieveQueries(q)

In [ ]:
player=[]
handrank=[]
count=[]

for x in combocards_wins_byplayers:
    player.append(x[1])
    handrank.append(x[2])
    count.append(x[3])

result = {'Player': player, 'Hand Rank': handrank, 'Rank Count': count }
df = pd.DataFrame(result)
df1 = df.style.set_properties(**{'text-align': 'center'}).set_caption('<h2 style="font-weight: bold;">Combination Cards Count Used by Players</h2>')
display(df1)

#### Identify the combinations/cards that win the most

In [ ]:
q = '''
SELECT
        c.handrank,
        COUNT(*) AS RankCount
    FROM
        cards c
    INNER JOIN
        handplayers hp ON c.hpid = hp.hpid
    INNER JOIN
        players p ON hp.pid = p.pid
    INNER JOIN
        handwinners hw ON hp.hpid = hw.hpid
    GROUP BY
        c.handrank
order by RankCount desc
'''
#query execution timing
%lprun -f retrieveQueries combocards_wins = retrieveQueries(q)

In [ ]:
x=[]
y=[]

for p in combocards_wins:
    x.append(p[0])
    y.append(p[1]/100)

plt.xlabel('Hand Rank')
plt.ylabel('Count(Wins) / 100 ')
plt.title('Combination Card by Total Winnings')
plt.bar(x, y)
plt.xticks(range(len(x)), x, rotation='vertical')

plt.show()

#### What country has the best players? By tournament Winnings

In [ ]:
q='''
SELECT PCountry AS Country,
       COUNT(*) AS WinnerCount
FROM TOURNAMENTS T
JOIN TOURNAMENTSWINNERS TW ON T.TID = TW.TID
JOIN PLAYERS P ON TW.PID = P.PID
GROUP BY PCountry
ORDER BY WinnerCount DESC
FETCH FIRST 10 ROWS ONLY
'''
#query execution timing
%lprun -f retrieveQueries best_players = retrieveQueries(q)

In [ ]:
x=[]
y=[]

for p in best_players:
    x.append(p[0])
    y.append(p[1])

plt.xlabel('Country')
plt.ylabel('Count(Wins) ')
plt.title('Best Players by Country (Tournament Winnings)')
plt.bar(x, y)
plt.xticks(range(len(x)), x, rotation='vertical')

plt.show()

In [ ]:
connection.close()